.container {
    display: flex;
    justify-content: space-around; 
    align-items: center; /* Alinea los elementos en el centro verticalmente */
  }
    
  .container2 {
    padding: 10px;/* Alinea los elementos en el centro verticalmente */
  }
  
  h3{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  h2{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .nosotros{
    padding-left: 20px;
    padding-right: 20px;
  }
  
  body{
    background-color: antiquewhite;
  }